# Variáveis de Ambiente e Credenciais
.env
.flaskenv
*.pem
*.key
aws_credentials
config.ini
secrets.json

# Ambientes Virtuais Python
venv/
.venv/
env/

# Artefatos Python
__pycache__/
*.pyc
*.pyo
*~
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Dependências Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Artefatos de Build do Frontend
build/
dist/

# Logs e Temporários
*.log
tmp/
temp/

# Arquivos de Sistema Operacional e Editores
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Arquivos MongoDB (se aplicável localmente)
dump/
data/db/
mongod.log
.vercel
